
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Gamer Login<mat-icon>headset_mic</mat-icon></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>{{message}}</mat-card-subtitle>
      <form class="example-form" [formGroup]="loginForm">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="credentials.username" formControlName="username" name="username" required>
              <mat-error *ngIf="handleError('username', 'required')">
                You must provide a <strong>username</strong>
              </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="credentials.password" type="password" formControlName="password" name="password" required>
            <mat-error *ngIf="handleError('password', 'required')">
              You must provide a <strong>password</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary" type="submit"><mat-icon>account_circle</mat-icon> Sign In</button>
  </mat-card-actions>
</mat-card>