<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>Gamer Lobby</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
  <span class="example-fill-remaining-space"></span>
  <a mat-raised-button routerLink="/login" *ngIf="!isLoggedIn" color="primary">Login</a>
  <button mat-raised-button (click)="logout()" *ngIf="isLoggedIn" color="warn">Logout</button>
</mat-toolbar>

<mat-sidenav-container>
  
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="false"
    [fixedTopGap]="0">
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/admin">
        <mat-icon>account_circle</mat-icon> Admin
      </a>
      <hr>
      <a mat-list-item routerLinkActive="active" routerLink="/player-ranking">
        <mat-icon>format_list_bulleted</mat-icon> Player Ranking
      </a>
      <hr>
      <a mat-list-item routerLinkActive="active" routerLink="/admin/add-player">
        <mat-icon>add</mat-icon> Add Player
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/admin/player-list">
        <mat-icon>format_list_bulleted</mat-icon> View Players
      </a>
      <hr>
      <a mat-list-item routerLinkActive="active" routerLink="/admin/add-games">
        <mat-icon>add</mat-icon> Add Games
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/admin/games">
        <mat-icon>format_list_bulleted</mat-icon> View Games
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>