<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <mat-icon>supervised_user_circle</mat-icon><div>Gamer Lobby</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
  <span class="example-fill-remaining-space"></span>
  <button mat-raised-button routerLink="/login" *ngIf="!isLoggedIn" color="warn"><mat-icon>account_circle</mat-icon> Login</button>
  <button mat-raised-button (click)="logout()" *ngIf="isLoggedIn" color="warn"><mat-icon>account_circle</mat-icon> Logout</button>
</mat-toolbar>

<mat-sidenav-container>
  
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="false"
    [fixedTopGap]="0">
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/admin" *ngIf="isLoggedIn">
        <mat-icon>account_circle</mat-icon> Admin
      </a>
      <hr>
      <a mat-list-item routerLinkActive="active" routerLink="/player-ranking">
        <mat-icon>face</mat-icon> Player Rankings
      </a>
      <hr>
      <a mat-list-item routerLinkActive="active" routerLink="/admin/add-player" *ngIf="isLoggedIn">
        <mat-icon>group_add</mat-icon> Add Player
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/admin/player-list" *ngIf="isLoggedIn">
        <mat-icon>supervised_user_circle</mat-icon> View Players
      </a>
      <hr *ngIf="isLoggedIn">      
      <a mat-list-item routerLinkActive="active" routerLink="/admin/add-games" *ngIf="isLoggedIn">
        <mat-icon>add_circle</mat-icon> Add Game
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/admin/games" *ngIf="isLoggedIn">
        <mat-icon>games</mat-icon> View Games
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>